<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scribbler - a codding landing page template for codrops</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='docs_css/scribbler-global.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='docs_css/scribbler-landing.css')}}"
    />
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item">
          <a href="{{ url_for('Docs') }}" class="link link--dark"
            ><i class="fa fa-book"></i> Documentation</a
          >
        </li>
        <li class="menu__item">
          <a  href="{{ url_for('Register_user') }}" class="link link--dark"
            > <i class="fa fa-key" aria-hidden="true"></i>Api</a
          >
        </li>
        <li class="menu__item">
          {% if login %}
          <a href="{{ url_for('Logout') }}" class="link link--dark"
          ><i class="fa fa-sign-in" aria-hidden="true"></i>
          Logout</a
        >
        {% else %}
        <a href="{{ url_for('Login') }}" class="link link--dark"
          ><i class="fa fa-sign-in" aria-hidden="true"></i>
          Login</a
        >

    {% endif %}
          
        </li>
      </ul>
    </nav>
    <div class="hero">
      <h1 class="hero__title">Taarit</h1>
      <p class="hero__description">Let me explain</p>
    </div>
    <div class="hero__terminal">
      <pre>
        <!-- Place your demo code here -->
        <code class="shell-session demo">api ~ $ </code>
      </pre>
    </div>
    <div class="wrapper">
      <div class="installation">
        <h3 class="section__title">How To Get Data</h3>
        <div class="tab__container">
          <pre class="nohighlight code">
            <code class="tab__pane active mac"><span style="color: brown;">syntax</span> ~ $   https://taarit-app1.onrender.com/{<span style="color: darkred;">Data_You_Want</span>}/{<span style="color: darkred;">Your_Api_Key</span>}</code>
            
          </pre>
        </div>
      </div>
      

      <div class="callout">
        <p>Read our documentation for advanced keybindings and customization</p>
        <a href="{{ url_for('Docs') }}"class="button--primary">Documentation</a>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script src="{{url_for('static',filename='docs_css/scribbler.js')}}"></script>
  </body>
</html>
